In [1]:
import pandas as pd
import numpy as np
#import yfinance as yf

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()
#pd.__version__

In [2]:
df_header = pd.read_pickle(r'c:\Users\Zoli\Downloads\python\academy\df_allInfo_clean.pkl')
df_ts=pd.read_pickle(r'c:\Users\Zoli\Downloads\python\academy\50yr_timeSeries_data.pkl')

In [3]:
df_ts.head()

           TRGP                                  FDS                 ...  FE  \
           Open High Low Close Adj Close Volume Open High Low Close  ... Low
Date                                                                 ...
1962-01-02  NaN  NaN NaN   NaN       NaN    NaN  NaN  NaN NaN   NaN  ... NaN
1962-01-03  NaN  NaN NaN   NaN       NaN    NaN  NaN  NaN NaN   NaN  ... NaN
1962-01-04  NaN  NaN NaN   NaN       NaN    NaN  NaN  NaN NaN   NaN  ... NaN
1962-01-05  NaN  NaN NaN   NaN       NaN    NaN  NaN  NaN NaN   NaN  ... NaN
1962-01-08  NaN  NaN NaN   NaN       NaN    NaN  NaN  NaN NaN   NaN  ... NaN

                                  ODFL
           Close Adj Close Volume Open High Low Close Adj Close Volume
Date
1962-01-02   NaN       NaN    NaN  NaN  NaN NaN   NaN       NaN    NaN
1962-01-03   NaN       NaN    NaN  NaN  NaN NaN   NaN       NaN    NaN
1962-01-04   NaN       NaN    NaN  NaN  NaN NaN   NaN       NaN    NaN
1962-01-05   NaN       NaN    NaN  NaN  NaN NaN   NaN       NaN    NaN
1962-01-08   NaN       NaN    NaN  NaN  NaN NaN   NaN       NaN    NaN

[5 rows x 3018 columns]

In [6]:
# original - which is not nice, warnings have been suppressed

import warnings
warnings.filterwarnings(action='ignore')

df_close = pd.DataFrame(index=df_ts.index) # store clsoing data only

for i in df_ts.columns:
    if i[1] == 'Close':
        df_close[i[0]]=df_ts[i[0]]['Close'];
df_close=df_close.copy()
df_close.loc[:,'month']=df_close.index.month
df_close.loc[:,'year']=df_close.index.year
df_close.head()

,TRGP,FDS,SYY,RCL,PSA,FISV,HUM,SNA,EMR,CAT,...,ADP,WMB,CCL,ATVI,DLTR,DLR,FE,ODFL,month,year
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.604167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1962
1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.619792,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1962
1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.661458,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1962
1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.677083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1962
1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.687500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1962

In [7]:
# test with pd action but does not work, i.e. header remains double and not able to remove it

#df_close = pd.DataFrame(index=df_ts.index) # store closing data only
df_close=pd.DataFrame(df_ts,index=df_ts.index)

list_to_drop=list()
header_keys=list()
header_values=list()

for i in df_close.columns:
    if i[1] != 'Close':
        list_to_drop.append(i)
    else:
        header_keys.append(i)
        header_values.append(i[0])
        #df_close=df_close.rename({i:i[0]})

df_close=df_close.drop(list_to_drop,axis=1)
header_dict=dict(zip(df_close.columns.values, header_values))
df_close=df_close.rename(columns=header_dict) # this should change header but not

df_close.loc[:,'month']=df_close.index.month
df_close.loc[:,'year']=df_close.index.year
df_close.head()

,TRGP,FDS,SYY,RCL,PSA,FISV,HUM,SNA,EMR,CAT,...,ADP,WMB,CCL,ATVI,DLTR,DLR,FE,ODFL,month,year
,Close,Close,Close,Close,Close,Close,Close,Close,Close,Close,...,Close,Close,Close,Close,Close,Close,Close,Close,,
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.604167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1962
1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.619792,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1962
1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.661458,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1962
1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.677083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1962
1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.687500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1962